
.GoalTable {
    border: 1px solid #CCC;
    padding: 4px;
}

.GoalTable td {
    font-family: "Courier Prime";
    font-size: 85%;
    padding: 0px 4px;
}

.FeeliesPage h2 {
    font-size: 110%;
    font-family: "Libre Baskerville", serif;
}

.FeeliesPage hr {
    border: none;
    height: 2px;
    background-color: #888;
    margin: 40px 20px;
}

.FeeliesPage a {
    color: #00C;
}
.DarkTheme .FeeliesPage a {
    color: #88F;
}

.FeeliesPage .Feelie {
    text-align: center;
}
